[submodule "pad-us"]
	path = pad-us
	url = git@github.com:RDCEP/pad-us.git
[submodule "nbcd"]
	path = nbcd
	url = git@github.com:RDCEP/NBCD.git
[submodule "nlcd"]
	path = nlcd
	url = git@github.com:RDCEP/nlcd.git
